* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

/* Transaction page */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
  margin-bottom: 10px;
}

.my-btn {
  font-size: 0.88rem;
  padding: 6px 8px;
  margin-top: 15px;
}

/* antd icons */

.switch-icons {
  border: 1px solid rgba(173, 172, 172, 0.677);
  border-radius: 3px;
  padding-top: 1px;
  padding-bottom: 5px;
}

.anticon svg {
  font-size: 19px;
  cursor: pointer;
}

.active-icon {
  color: black;
}
.inactive-icon {
  color: gray;
}

.filter-tab .ant-select-selector {
  width: 150px;
}

.ant-select {
  padding-right: 4px;
}

.login-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.login-page h1 {
}
.login-form {
  background-color: #b9bcccb6;
  margin-left: -15px;
  padding: 30px;
}

.login-form h1 {
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: #344265;
}

.login-form .ant-form-item-label label {
  color: #344265;
}
.login-form button {
  background-color: #344265;
  color: white;
  outline: none;
}
.login-form button:hover {
  background-color: black;
  color: white;
}
.login-form a {
  color: #344265;
}

.login-form a:hover {
  color: black;
}

.navbar {
  background-color: #6f4e3742;
}
.navbar .navbar-brand {
  color: #6f4e37;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar h6 {
  margin-top: 0px;
  margin-right: 20px;
}

.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}
.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 30%;
}

.register-form h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #b87333;
}

.register-form a {
  color: #b87333;
}

.register-form a:hover {
  color: black;
}

.register-form button {
  background-color: #b87333;
  color: white;
}

.register-form input:focus {
  border: 1px solid #b87333;
  color: #b87333;
}
.register-form button:hover {
  background-color: black;
  color: white;
}

.ant-table th {
  white-space: nowrap;
}

h6 {
  font-size: clamp(0.8rem, 100%, 1rem);
  font-weight: 550;
}

@media (max-width: 600px) {
  body {
    font-size: 12px;
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 0 3px gray;
    margin-bottom: 10px;
  }

  .add-btn {
    margin-top: 10px;
    width: 100%;
  }

  .my-btn {
    font-size: 0.8rem;
    padding: 6px 8px;
    float: right;
    margin-top: -10px;
    margin-bottom: 5px;
  }
}

/* Decrease font size for smaller screens */
@media (max-width: 768px) {
  .ant-table th,
  .ant-table td {
    font-size: 13px; /* Smaller font size for mobile screens */
  }
}

@media (max-width: 576px) {
  .ant-table th,
  .ant-table td {
    font-size: 11px; /* Even smaller font size for very small screens */
  }
}

@media (max-width: 325px) {
  .frequency {
    flex-grow: 1;
  }

  .frequency select {
  }
}
